<?xml version="1.0" encoding="UTF-8"?>
<!--context schema-->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

<!--bean id="ink" class="org.tnsif.autowiredexample.Ink"/-->
<!--bean id="pen" org.tnsif.autowiredexample.Pen" autowire="byType"-->

<bean id="i" class="org.tnsif.autowiredexample.Ink"/>
<bean id="pen" class="org.tnsif.autowiredexample.Pen" autowire="constructor">
<!--property name="i" ref="ink"/-->

</bean>
</beans> 